<div class="span12">
	<div class="row">
		<ul class="nav nav-pills">
			<li class="span4 <%= params[:content] == "subject" ? 'active' : '' %>">
				<%= link_to content_path(content: "subject") do %>
					<h5>Sujets</h5>
					<span>Les sujets regroupent des documents ou des extraits de textes pouvant donner lieu à la création de brèves. Vous avez une idée ? Ajoutez un sujet ! Ou alors emparez-vous de l'un d'eux et traitez-le !</span>
				<% end %>
			</li>
			<li class="span4 <%= params[:content] == "draft" ? 'active' : '' %>">
				<%= link_to content_path(content: "draft") do %>
					<h5>Brouillons</h5>
					<span>Les brouillons sont de futures brèves qui nécessitent encore un travail d'écriture pour atteindre les critères de publication d'une brève. La section Contribuer vous donne des astuces pour améliorer les brouillons.</span>
				<% end %>
			</li>
			<li class="span4 <%= (params[:content] == "published" || params[:content] == nil) ? 'active' : '' %>">
				<%= link_to content_path(content: "published") do %>
					<h5>Brèves</h5>
					<span>aujourd'hui au nombre de</span>
					<span><%= @published_count %></span>
				<% end %>
			</li>
		</ul>
	</div>
</div>
<div class="span8 offset4">
	<% if params[:content] == "subject" %>
	<% elsif params[:content] == "draft" && @draft.any? %>
		<%= render "shared/content_list", content: @draft, type: "draft", detail: "update_based" %>
	<% elsif params[:content] == "published" && @published.any? %>
		<%= render "shared/content_list", content: @published, type: "published", detail: "update_based" %>
	<% end %>
</div>