<% content_for(:head) do %>
    <%= javascript_include_tag 'home' %>
<% end %>

<div id="home-wrapper">
    <div class="container">
        <div class="row"> 
            <div id="this-carousel-id" class="carousel slide span12" data-interval="8000"><!-- class of slide for animation -->
                <div class="carousel-inner">
                        <% @carousel_features.each_with_index do |breve, index| %>
                            <% if index == 3 %>
                                <%= render :partial => "static_pages/carousel_announce_1" %>
                            <% end %>
                            <div class="item row <%= index == 0 ? 'active' : '' %>"><!-- class of active since it's the first item -->
                                <div class="span7">
                                    <div class="photo-wrapper">
                                        <div> </div>
                                        <%= peb_image_tag breve, :large  %>
                                    </div>
                                </div><div class="carousel-breve span5">
                                    <div class="breve-item">
                                            <%= link_to published_path do %>
                                                <div class="content-link">
                                                    <span class="content_link">Voir l'ensemble des brèves</span>
                                                </div>
                                            <% end %>
                                        <h2><%= breve.title %></h2>
                                        <span><%= breve.location %></span>
                                        <p><%= breve.description %></p>
                                    </div>                                        
                                </div>
                            </div>
                        <% end %>  
                                       
                </div><!-- /.carousel-inner -->
                
                   
              <!--  Next and Previous controls below
                    href values must reference the id for this carousel -->
                <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
            </div><!-- /.carousel -->
        </div>
    </div>
</div>
        