<% if signed_in? %>
	<%= render 'breves/comment_form' %>
<% end %>
<div class="comments">
	<% @breve.comments.reverse_each do |comment| %>
		<div class="comment">
			<div>
				<%= link_to comment.user.name, comment.user %>
				<span class="comment-date"><%= distance_of_time_in_words_to_now(comment.created_at, include_seconds = false) %> ago</span>
			</div>
			<div class="comment-text">
				<p><%= comment.content %></p>
				<% if can? :destroy, comment %>
						<%= link_to [@breve, comment], method: :delete, data: { :confirm => "Are you sure ?"} do %>
							<i class='icon-trash'></i>
						<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>