<table class="table table-hover">
	<% if signed_in? %>
		<%= render 'breves/comment_form' %>
	<% end %>
	<tbody>
		<% @breve.comments.reverse_each do |comment| %>
			<tr>
				<td><%= comment.user.name %>
					<p><%= comment.content %></p></br>
					<%= comment.created_at %>
				</td>
				<% if can? :destroy, comment %>
					<td>
						<%= link_to 'Supprimer', [@breve, comment], method: :delete, data: { :confirm => "Are you sure ?"} %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>