<% content_for(:head) do %>
	<meta property="og:title" content="<%= @breve.title %>" />
	<meta property="og:type" content="article" />
	<% if @breve.photo.file? %>
		<meta property="og:image" content="<%= @breve.photo.url(:thumb) %>" />
	<% end %>
	<meta property="og:description" content="<%= @breve.description %>" />
	<%= javascript_include_tag 'breve_show' %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
<% end %>

<div id="breve-container" class="container">
	<div class="row">
		<div class="span8 breve">
			<%= render "breves/breve" %>
		</div>
		<div class="span4 sidebar">
			<div><%= @breve.status == "published" ? "Brèves" : "Brouillons" %> à proximité</div>
			<% if @closeby.any? %>
				<%= render "shared/sidebar_content_list", content: @closeby[0..9], type: @breve.status, detail: "distance_based" %>
			<% end %>
		</div>
	</div>
</div>