<h1 class='title'><%= @breve.title %></h1>
<span class='location'><%= @breve.location %></span>
<p class='description'><%= @breve.description %></p>
<a class='source' href="<%= @breve.source_URL %>"><%= @breve.source_name %></a>
<span class='latitude'><%= @breve.latitude %></span>
<span class='longitude'><%= @breve.longitude %></span>