<% content_for(:head) do %>
	<%= javascript_include_tag 'sidebar_list' %>
<% end %>
<ul class="sidebar-list">
	<% content.each do |item| %>
		<li>		
			<%= link_to item do %> 
				<div class="item">
					<% if type == 'published' || type == 'draft' %>
						<div class="sb-image-wrapper"><%= peb_image_tag item, :thumb  %></div>
					<% end %>
					<div class="item-text">
						<h5><%= item.title %></h5>
						<% if type == 'published' || type == 'draft' %>
							<span class="location"><%= item.location %></span>
						<% end %>
						<% if detail == 'update_based' %>
							<span class="date"><%= distance_of_time_in_words_to_now(item.updated_at, include_seconds = false) %> ago</span>
						<% elsif detail == 'distance_based' %>
							<span class="date">A <%= (Geocoder::Calculations.distance_between(@reference_point, [item.latitude, item.longitude])*1000).floor %> mètres</span>
						<% end %>
					</div>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>