<ul class="sidebar-list">
	<% content.each do |item| %>
		<li>
			<div>		
				<%= link_to item do %> 
					<% if type == 'published' %>
						<%= image_tag item.photo.url(:thumb) %>
					<% end %>
					<h5><%= item.title %></h5>
					<% if type == 'published' || type == 'draft' %>
						<span><%= item.location %></span></br>
					<% end %>
					<% if detail == 'update_based' %>
						<% time = item.updated_at %>
						<span>Mis à jour le <%= time.day %>/<%= time.month %>/<%= time.year %> à <%= time.hour %>:<%= time.min %></span>
					<% elsif detail == 'distance_based' %>
						<span>A <%= (Geocoder::Calculations.distance_between(@reference_point, [item.latitude, item.longitude])*1000).floor %> mètres</span>
					<% end %>
				<% end %>
			</div>
		</li>
	<% end %>
</ul>