<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Paris en brèves", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Accueil", root_path, :id => "home" %></li>
          <li><%= link_to "Brèves", published_path, :id => "content" %></li>
          <li><%= link_to "Contribuer", contribute_path, :id => "contribute" %></li>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a class="dropdown-toggle" id="dropx" role="button" data-toggle="dropdown" href="#">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropx">
                <li><%= link_to "Profil", current_user, tabindex: "-1" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Déconnexion", signout_path, method: "delete", :id => "sign_out", tabindex: "-1" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "S'inscrire", signup_path %></li>
            <li><%= link_to "Connexion", signin_path, :id => "log_in" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>