<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Paris en brèves" %></title>
		<meta name="description" content="">
		<meta name="author" content="Josselin Perrus">
		<%= stylesheet_link_tag "application", :media => "all" %>
		<link href="http://fonts.googleapis.com/css?family=Arvo|PT+Sans:400,700,400italic&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
		<%= include_gon %>
		<%= javascript_include_tag "application" %>
		<!--[if lt IE 9]>
  			<%= javascript_include_tag 'html5shiv-printshiv' %>
		<![endif]-->
		<%= csrf_meta_tags %>
		<%= analytics_init if Rails.env.production? %>
		<%= yield(:head) %>
	</head>
	<body>	
		<%= render 'layouts/header' %>
		<% if request.path != map_path %>
			<div id="main" role="main">
				<div class="container">
					<div class="row">
						<div id="writeLightbox" class="container span9 lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
			              <div class='lightbox-header'>
			                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
			              </div>
			              <div class='lightbox-content'>
			                <h3>Ecrire</h3>
			                <p>La création de brèves se fait par étapes :</p>
			                <ul>
			                  <li>Vous pouvez créer un nouveau sujet si vous avez des idées ou des sources qui pourraient servir à la création de nouvelles brèves.</li>
			                  <li>Vous pouvez créer un brouillon, en prenant pour point de départ un des sujets existant si vous n'avez pas d'idée.</li>
			                  <li>Vous pouvez améliorer un brouillon existant.</li>
			                </ul>
			                <p>Si vous n'avez encore jamais contribué à Paris en brèves, vous pouvez lire les renseignements sur le fonctionnement de Paris en brèves et le processus éditorial. Vous trouverez aussi quelques astuces pour écrire des brèves de qualité.</p>
			                <div class="row">
			                  <div>
			                    <span><%= link_to "Créer un nouveau sujet", new_subject_path, class: "btn" %></span></br>
			                    <span>Ou</span></br>
			                    <span><%= link_to "Consulter la liste des sujets", subjects_path %></span>
			                  </div>
			                  <div>
			                    <span><%= link_to "Créer un nouveau brouillon", new_breve_path, class: "btn" %></span></br>
			                    <span>Ou</span></br>
			                    <span><%= link_to "Consulter la liste des brouillons", drafts_path %></span>
			                  </div>
			                  <div>
			                    <span><%= link_to "Lire les conseils", new_breve_path, class: "btn" %></span>
			                  </div>
			                </div>
			              </div>
			            </div>
					</div>
				</div> <!--! end of .container -->
				<%= content_for?(:content) ? yield(:content) : yield %>
			</div> <!--! end of #main -->	
			<%= render 'layouts/footer' %>
		<% else %>
			<%= yield %>
		<% end %>
	</body>
</html>
